/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

ion-header {
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    width: 130px;
    height: auto;
}

body, h1, h2, h3, strong, p, ion-title {
    font-family: 'Montserrat', sans-serif;
}

ion-title {
    font-size: 18px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
}

h2 {
   font-weight: bold;
   font-size: 16px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 14px;
}

.sc-ion-input-md-h {
    font-family: 'Montserrat', sans-serif;
}

.sc-ion-buttons-md {
    --border-color: #1A4B41;
}

ion-content {
    margin: 20px;
    padding: 20px;
}

ion-button {
    --background: #1A4B41;
    --background-hover: white;
    --background-activated: #1A4B41;
    --background-focused: #88f4be;

    --color: white;
    max-width: 70px;
    --border-style: solid;
    --border-color: #1A4B41;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.icon {
    width: 40px;
    height: 40px;
}

.icons {
    width: 30px;
    height: 30px;
    font-size: 10px;
}

ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.animal img {
    max-height: 500px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}
  